* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: aqua;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  padding: 1rem;
  background-color: darkmagenta;
  color: white;
  font-size: 2rem;
  border-radius: 500px;
}
.btn:hover {
  cursor: pointer;
}

.marker {
  animation-name: grow;
  animation-duration: 0.4s;
}

@keyframes grow {
  from {
    opacity: 0.5;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.game-grid {
  display: grid;
  background-color: white;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  min-width: 300px;
  width: 60%;
  min-height: 675px;
}
.node {
  display: flex;
  align-items: center;
  justify-content: center;
}
.node:hover {
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
